.container{
    background-color: rgb(247, 236, 175);
    margin-right: 300px;
    padding-bottom: 00px;
}

.header {
    margin: auto 150px;
    margin-top: 30px;
    padding-top: 10px;
    color: rgb(59, 179, 55);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pizza {
     margin: auto 150px;
    color: rgb(59, 179, 55);
}

.ketchup{
    margin: auto 200px;
    color: rgb(59, 179, 55);
}

.cobb-salad {
    margin: auto 250px;
    margin-right: 30px;
    color: rgb(59, 179, 55);
}